@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'sans-serif';
}

.img{
    position: absolute;
    width: 100%;
    height: 480px;
    object-fit: cover;
    background: transparent linear-gradient(180deg, #9D0E0E00 0%, #4F0707 100%) 0% 0% no-repeat padding-box;  
    mix-blend-mode: multiply;
    opacity: 1;
}

.logo{
    margin: 40px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font: normal normal 600 70px/106px Poppins;
    color: #EB2929;
    opacity: 1;
}

.cirlcle{
    display: flex;
    position: relative; 
    justify-content: center;
    align-items: center;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 100%;
    opacity: 1;
    height: 147px;
    width: 147px;
    margin-left: 650px;
}

.nav{
    position: relative;
    margin-right: 50px;  
    margin-top: 22px;
}

.nav a{
    text-decoration: none;
    color: #FFFFFF;
    margin: 0 5px;
}

.new{
    border-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 3px;
    opacity: 1;
}

header p{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font: normal normal 600 36px/55px Poppins;
    color: #FFFFFF;
    margin-left: 20px;
    margin-right: 20px;
}

.head{
    position: relative;
    display: flex;
    justify-content: center;
    margin: 30px;
}

.btn-group{
    width: 245px;
    height: 60px;
    background-color: #FFFFFF;
}

input{
    width: 477px;
    height: 60px;
    margin-left: 20px;
}

.btn:hover{
    color: #8C96AB;
    background-color: #FFFFFF;
    border: unset;
}

.btn-secondary{
    background-color: #FFFFFF;
    color: #8C96AB;

}

.dropdown-menu{
    opacity: 1;
    height: auto;
    width: 245px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    font: normal normal normal 15px/35px Poppins;
    letter-spacing: 0px;
    color: #636F88;
    
}

section{
    position: absolute;
    padding-left: 113px;
    padding-right: 113px;
    margin-top: 500px;
    padding-bottom: 40px;
}

.h1{
    padding-top: 20px;
    margin-bottom: 0;
    font: normal normal bold 30px/46px Poppins;
    color: #192F60;
    opacity: 1;
}

.quicksearch {
    margin-top: 0px;
    font: normal normal normal 18px/27px Poppins;
    color: #8C96AB;
    opacity: 1;

}

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 20px;
    column-gap: 70px;
}

.card1{
    margin-top: 15px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
    display:flex;
    
}

.card1 img{
    height: 160px;
    width: 160px;
    opacity: 1;
    object-fit: cover;
}

.card1 a{
    text-decoration: none;
    color: #192F60;
}

.card1 h3{
    text-align: left;
    margin: 0px;
    font: normal normal 600 18px/27px Poppins;
    letter-spacing: 0px;
    opacity: 1;
    
}

.card-text{
    margin: 0;
    font: normal normal normal 14px/21px Poppins;
    color: #8C96AB;
    opacity: 1;
}

.card-content{
    flex-direction: column;
    padding: 20px;

}
