
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'sans-serif';
}


.bg {
    position: relative;
    height: 480px;
    width: 100%;
    object-fit: cover;
    background: transparent linear-gradient(180deg, #9D0E0E00 0%, #4F0707 100%) 0% 0% no-repeat padding-box;
    mix-blend-mode: multiply;
    opacity: 1;
}

.nav{
    position: absolute;
    display: flex;
    top: 29px;
    left: 1090px;
    height: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav a{
    text-decoration: none;
    color: #FFFFFF;
    margin: 0 22px;
}

.new{
    display: flex;
    justify-content: center;
    align-items: center;
    top: 17px;
    left: 1084px;
    width: 181px;
    height: 46px;
    border-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 3px;
    opacity: 1;
}

.logo {
    position: absolute;
    width: 68px;
    height: 99px;
    align-items: center;
    top: 15px;
    left: 32px;
    text-align: center;
    font: normal normal 600 90px/106px Poppins;
    letter-spacing: 0px;
    color: #EB2929;
    opacity: 1;

}

.circle {
    position: absolute;
    top: 81px;
    left: 680px;
    width: 147px;
    height: 147px;
    border-radius: 100%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;

}

.search {
    position: absolute;
    top: 250px;
    left: 460px;
    display: flex;
    flex-direction: column;
    align-items: center;


}

.head {
    position: absolute;
    top: 250px;
    left: 400px;
    text-align: left;
    font: normal normal 600 36px/55px Poppins;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}


.location {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    top: 339px;
    left: 385px;
    width: 245px;
    height: 65px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;


}

input {
    position: absolute;
    top: 339px;
    left: 651px;
    width: 477px;
    height: 60px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
}

content h1 {
    color: #192F60;
    text-align: left;
    font: normal normal bold 30px/46px Poppins;
    letter-spacing: 0px;
    color: #192F60;
    opacity: 1;

}

.location select{
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 0;
    background-color:#FFFFFF ;
}

section{
    margin-left: 143px;
    margin-right: 113px;
    margin-top: 0px;
    margin-bottom: 80px;
}

.h1{
    padding-top: 20px;
    margin-bottom: 0;
    font: normal normal bold 30px/46px Poppins;
    color: #192F60;
    opacity: 1;
}

.quicksearch {
    margin-top: 0px;
    font: normal normal normal 18px/27px Poppins;
    color: #8C96AB;
    opacity: 1;

}

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 20px;
}

.card1{
    margin-top: 15px;
    top: 636px;
    left: 113px;
    width: 360px;
    height: 160px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
    display:flex;
    
}

.card1 img{
    top: 636px;
    left: 113px;
    width: 160px;
    height: 160px;
    opacity: 1;
    object-fit: cover;
}

.card1 h3{
    text-align: left;
    margin: 0px;
    font: normal normal 600 18px/27px Poppins;
    letter-spacing: 0px;
    color: #192F60;
    opacity: 1;
    
}

.card-text{
    margin: 0;
    font: normal normal normal 14px/21px Poppins;
    color: #8C96AB;
    opacity: 1;
}

.card-content{
    flex-direction: column;
    padding: 20px;

}